<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        #main{
            margin: auto;
        }
    </style>
</head>
<body>
<div id="main" style="width: 800px;height:600px;"></div>
</body>
<!-- 引入 ECharts 文件 -->
<script src="echarts/echarts-dev.js"></script>
<script src="echarts/china.js"></script>
<script src="jquery/jquery-3.4.0.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    myChart.showLoading();

    $.get('json/HK.json', function (geoJson) {

        myChart.hideLoading();

        echarts.registerMap('HK', geoJson);

        myChart.setOption(option = {
            title: {
                text: '港闸区街道',
                subtext: '人口密度数据来自Wikipedia',
                sublink: 'http://zh.wikipedia.org/wiki/%E9%A6%99%E6%B8%AF%E8%A1%8C%E6%94%BF%E5%8D%80%E5%8A%83#cite_note-12'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{b}<br/>{c} (p / km2)'
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            visualMap: {
                min: 800,
                max: 50000,
                text:['High','Low'],
                realtime: false,
                calculable: true,
                inRange: {
                    color: ['lightskyblue','yellow', 'orangered']
                },
                show:false
            },
            series: [
                {
                    name: '香港18区人口密度',
                    type: 'map',
                    mapType: 'HK', // 自定义扩展图表类型
                    itemStyle:{
                        normal:{label:{show:true}},
                        emphasis:{label:{show:true}}
                    },
                    data:[
                        {name: '街道1', value: 20057.34},
                        {name: '街道2', value: 15477.48},
                        {name: '街道3', value: 31686.1},
                        {name: '街道4', value: 6992.6},
                        {name: '街道5', value: 44045.49},
                        {name: '街道6', value: 40689.64},
                        {name: '街道7', value: 37659.78},
                        {name: '街道8', value: 45180.97},
                        {name: '街道9', value: 55204.26},
                        {name: '街道10', value: 21900.9},
                        {name: '街道11', value: 4918.26},
                        {name: '街道12', value: 5881.84},
                    ],
                    // 自定义名称映射
                    nameMap: {
                        'Street1': '街道1',
                        'Street2':'街道2',
                        'Street3':'街道3',
                        'Street4':'街道4',
                        'Street5':'街道5',
                        'Street6':'街道6',
                        'Street7':'街道7',
                        'Street8':'街道8',
                        'Street9':'街道9',
                        'Street10':'街道10',
                        'Street11':'街道11',
                        'Street12':'街道12',
                    },
                }
            ]
        });
    });

</script>
</html>