<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="custom/style.css">
</head>
<body>
<div id="backImg">
    <div id="comeback" style="display: none"><img src="/images/comeback.png"></div>
    <div id="main"></div>
</div>

</body>
<script src="echarts/jquery-1.9.1.min.js"></script>
<script src="layer/layer.js"></script>
<script src="echarts/echarts-all.min.js"></script>
<script src="custom/script.js"></script>
</html>