<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #main {
            position: absolute;
            width: 900px;
            height: 600px;
            top: 50%;
            left: 50%;
            margin-top: -300px;
            margin-left: -450px;
        }
    </style>
</head>
<body>
<div id="main"></div>
</body>
<!-- 引入 ECharts 文件 -->
<script src="jquery/jquery-3.4.0.js"></script>
<script src="layer/layer.js"></script>
<script src="echarts/echarts-dev.js"></script>
<script src="echarts/china.js"></script>
<script type="text/javascript">
    $(function () {
        var myChart = echarts.init(document.getElementById('main'));
        myChart.showLoading();


        var option = {
            title: {
                text: '香港18区人口密度 （2011）',
                subtext: '人口密度数据来自Wikipedia',
                sublink: 'http://zh.wikipedia.org/wiki/%E9%A6%99%E6%B8%AF%E8%A1%8C%E6%94%BF%E5%8D%80%E5%8A%83#cite_note-12',
                show: false
            },
            tooltip: {
                trigger: 'item',
                formatter: '{b}<br/>{c} (p / km2)'
            },
            toolbox: {
                show: false,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            visualMap: {
                min: 800,
                max: 50000,
                text: ['High', 'Low'],
                realtime: false,
                calculable: true,
                //  inRange: {
                // color: ['yellow','red'],
                //  },
                show: false
            },
            series: [
                {
                    name: '香港18区人口密度',
                    type: 'map',
                    mapType: 'HK', // 自定义扩展图表类型
                    label:{show:true,position: [10, 10],rotate:0},
                    data: [
                        {
                            name: '陈桥街道办事处',
                            value: 20057.34,
                            tooltip: {show: false},
                            itemStyle: {areaColor: 'rgb(0,0,0)', borderWidth: 5}
                        },
                        {name: '幸福街道', value: 1000.32, tooltip: {show: false}}
                    ],
                    markPoint: {
                        symbolSize: 20,
                        symbol: 'rect'
                    },
                    dataRange: {
                        x: '-1000 px', //图例横轴位置
                        y: '-1000 px', //图例纵轴位置
                        splitList: [
                            {start: 1, end: 1, label: '陈桥街道办事处', color: '#f0d'},
                        ]
                    }, //各省地图颜色；start：值域开始值；end：值域结束值；label：图例名称；color：自定义颜色值；

                    // 自定义名称映射
                    nameMap: {
                        'chengqiao': '陈桥街道办事处',
                        'xingfu': '幸福街道'
                    }
                }
            ],
            //color:['#c20031','#2f4554', '#61a0a8', '#d48265', '#91c7ae','#749f83',  '#ca8622', '#bda29a','#6e7074', '#546570', '#c4ccd3'],
            // backgroundColor:{
            //     color: {
            //         type: 'linear',
            //         x: 0,
            //         y: 1,
            //         x2: 0,
            //         y2: 1,
            //         colorStops: [{
            //             offset: 0, color: 'red' // 0% 处的颜色
            //         }, {
            //             offset: 1, color: 'blue' // 100% 处的颜色
            //         }],
            //         global: false // 缺省为 false
            //     }
            // }
            zlevel:1
        }

        var street1_option = {
            title: { //图的标题
                id: 'gztitle', //组件 ID。默认不指定。指定则可用于在 option 或者 API 中引用组件。
                show: true, //是否显示标题组件
                text: '街道办事处', //主标题文本，支持使用 \n 换行。
                link: 'http://www.baidu.com',//主标题文本超链接。
                target: 'blank',//指定窗口打开主标题超链接。'self'当前窗口
                textStyle: {
                    color: '#f00',
                    fontStyle: 'normal',
                    fontWeight: 'bold',
                    fontFamily: 'sans-serif',
                    fontSize: 20,
                    lineHeight: 20
                },
                subtext: '人口密度数据来自Wikipedia',
                sublink: 'http://zh.wikipedia.org/wiki/%E9%A6%99%E6%B8%AF%E8%A1%8C%E6%94%BF%E5%8D%80%E5%8A%83#cite_note-12',
                itemGap: 20,
            },
            tooltip: {
                trigger: 'item',
                formatter: '{b}<br/>{c} (p / km2)'
            },
            visualMap: {
                min: 800,
                max: 50000,
                text: ['High', 'Low'],
                realtime: false,
                calculable: true,
                inRange: {
                    color: ['yellow']
                },
                show: false
            },
            series: [
                {
                    name: '香港18区人口密度',
                    type: 'map',
                    mapType: 'GZ', // 自定义扩展图表类型
                    itemStyle: {
                        normal: {label: {show: true}},
                        emphasis: {label: {show: true}}
                    },
                    tooltip: {show: false},
                    data: [
                        {name: 'Street1', value: 20057.34},
                        {name: '街道2', value: 15477.48},
                        {name: '街道3', value: 31686.1},
                        {name: '街道4', value: 6992.6},
                        {name: '街道5', value: 44045.49},
                        {name: '街道6', value: 40689.64},
                        {name: '街道7', value: 37659.78},
                        {name: '街道8', value: 45180.97},
                        {name: '街道9', value: 55204.26},
                        {name: '街道10', value: 21900.9},
                    ],
                    // 自定义名称映射
                    nameMap: {
                        'Street1': '街道1',
                        'Street2': '街道2',
                        'Street3': '街道3',
                        'Street4': '街道4',
                        'Street5': '街道5',
                        'Street6': '街道6',
                        'Street7': '街道7',
                        'Street8': '街道8',
                        'Street9': '街道9',
                        'Street10': '街道10',
                    },
                }
            ]
        }

        function loadMap(json, option, mapkey) {
            $.get(json, function (geoJson) {
                myChart.hideLoading();
                echarts.registerMap(mapkey, geoJson);//注册可用地图
                myChart.clear();
                myChart.setOption(option, true);
            });
        }

        loadMap('json/gangzha_district_streets.json', option, 'HK');
        myChart.on('click', function (params) {
            console.log("窗口的高度:" + $(window).height());
            console.log("窗口的宽度" + $(window).width());
            console.log(params.event.event);
            console.log("X的位置:" + params.event.event.screenX)
            console.log("Y的位置:" + params.event.event.offsetY);
            var top = params.event.event.offsetY;
            var left = params.event.event.screenX;
            if (params.event.offsetY < 500) {

            } else {
                pointy = params.event.offsetY - 500
            }
            if (params.data.name == "陈桥街道办事处") {
                layer.ready(function () {
                    // loadMap('json/test.json',street1_option,'GZ');
                    layer.open({
                        type: 2,
                        //title: ['陈桥街道办事处', 'font-size:18px;background-color:#000;color:#fff'],
                        title: false,
                        maxmin: false,
                        closeBtn: 0,
                        offset: [top - 250, left - 300],
                        shadeClose: true,
                        anim: 3,
                        area: ['600px', '500px'],
                        content: 'http://layer.layui.com/test/welcome.html',
                    });
                });
            } else if (params.data.name == "街道2") {

            } else if (params.data.name == "街道3") {

            }
        });

    })
</script>
</html>