<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区信息</title>
    <link rel="stylesheet" href="/custom/tooltips.css">
</head>
<body>
    <div class="bkimag">
        <div id="title"><p>五里树社区</p></div>
        <div id="content"><p>陈桥街道位于南通市区北大门，是南通知名的“钣金之乡”、
            “造船之乡”、“建筑之乡”，素有“南通民营经济摇篮”的美誉。
            全街道总面积29.1平方公里，下辖1个居委会9个行政村，总人
            口2万8千余人。陈桥街道是南通船舶配套工业集中区所在地，九
            圩港、通扬运河贯穿全境，水陆交通优势得独厚。陈桥船舶修造
            及配套业发展迅猛，是长三角重要的舶配套基地，多获得南通市
            社会治安安全乡、法制南通合格乡，2006获南通民营经济增
            幅十强乡镇、“劳动力”转移十佳乡镇称号</p></div>
    </div>
</body>
</html>